@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');

* {
    font-family: 'Turret Road', cursive;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

header {
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1;
    border-bottom: 3px solid #ccc;
}



nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav li:nth-child(3) {
    margin-left: auto;
}

nav li:first-child,
nav li:last-child {
    margin-left: 10px;
}

nav li:nth-child(2) {
    flex-grow: 1;
    text-align: center;
}

nav li p {
    margin: 0;
    font-size: 24px;
}

nav li p span {
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    margin-left: 5px;
    color: #fff;
    text-shadow: 2px 2px #800080;
}

nav li button {
    float: right;
    width: 120px;
    height: 50px;
    padding: 10px;
    /* adds padding to the buttons */
    border-radius: 10px;
    /* adds some rounding to the button corners */
    background-color: #64009F;
    /* sets the button background color */
    color: #fff;
    /* sets the button text color */
    font-size: 18px;
    /* sets the button font size */
    cursor: pointer;
    /* sets the cursor to indicate that the buttons are clickable */
}

nav li button:hover {
    background-color: #9023D0;
}

main {
    margin-top: 30px;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-img set in html */
    background-size: cover;
    background-position: center center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectable-map {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
}

.selectable-map select {
    font-size: 16px;
    padding: 5px 10px;
    background: white;
    color: black;
    border-radius: 5px;
    border: none;
    outline: none;
}

.map-image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background-image: url("");
    background-size: cover;
}